<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <!--{{object_list}}-->
    <!--<table border=1 cellpadding=7>-->
            <!--<tr>-->
                <!--<th>ID</th>-->
                <!--<th>Predicted</th>-->
                <!--<th>Text</th>-->
            <!--</tr>-->
            <!--{% for obj in object_list %}-->
            <!--<tr>-->
                <!--<td>{{ obj.id }}</td>-->
                <!--<td>{{ obj.Predicted }}</td>-->
                <!--<td>{{ obj.Descript }}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
        <!--</table>-->
    {% endblock %}

</body>
</html>